p {color:black;}
body {
    background-repeat: no-repeat;
    background-image: url('https://images5.alphacoders.com/968/thumb-1920-968380.png');
}




#links {
  color: red;

}

a:link {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
